@charset "UTF-8";
/* ベースのスタイル
------------------------------------------ */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.75;
  color: #09947b;
}
a {
  color: #fff;
  text-decoration: none;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
ul {
  list-style: none;
}

html, body {
  overflow-x: hidden;
  margin: 0;
}

/* 部品
------------------------------------------ */
/* コンテナ */
.container{
  padding-left: 1rem;
  padding-right: 1rem;
}
@media(min-width:768px){
  .container{
    max-width: 75rem;
    margin: 0 auto;
  }
}
/* 391px以上非表示 */
@media(min-width:391px) {
  .br-sp{
    display: none;
  }
}
@media(min-width:767px )  {
  .br-sp-full{
    display: none;
  }
}
/* 767以下非表示 */
@media(max-width:1399px){
  .br-pc{
    display: none;
  }
}
@media(max-width:767px){
  .br-pc-full{
    display: none;
  }
}
/* タイトル */
.section-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.875rem;
  padding-bottom: 1.125rem;
  line-height: 1.5;
}
@media(min-width:768px){
  .section-title {
    padding-top: 3.25rem;
    padding-bottom: 1.5625rem;
    line-height: 1.55;
  }
}
.section-title span{
  display: block;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
}
@media(min-width:768px){
  .section-title span{
    font-size: 1.25rem;
  }
}
.section-title h2{
  font-size: 1.25rem;
  color: #000;
  font-weight: 700;
}
@media(min-width:768px){
  .section-title h2{
    font-size: 1.75rem;
  }
}

/* display column*/
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5625rem;
}
@media(min-width:768px){
  .column{
    flex-direction: row;
    column-gap: 1.875rem;
  }
}
/* border-radius*/
.radius{
  border-radius: 1.5rem;
}
/* flex */
.flex{
  display: flex;
  align-self: center;
  justify-content: center;
}
/* calc*/
@media(min-width:768px){
  .calc{
    width: calc(100% / 3) ;
  }
}

/* ボタン */
.button{
  background-color: #09947b;
  max-width: 18.75rem;
  margin: 1.375rem auto;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 2.0625rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media(min-width:768px){
  .button{
    margin: 2rem auto;
  }
}
.button-top{
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.button-bottom{
  background-color: #066655;
  padding-top: 3.0625rem;
  margin-top: 1.75rem;
}
@media(min-width:768px){
  .button-bottom{
    margin-top: 2.375rem;
  }
}
.button-top:hover{
  bottom: 0.2%;
}

/* ボタン */
.contact-button{
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 22.0625rem;
  width: 100%;
  font-size: 1.25rem;
  background-color: transparent;
  border: .125rem solid #fff;
  border-radius: 2.5rem;
  padding: 0;
}
@media(min-width:768px){
  .contact-button{
    top: 43%;
    max-width: 22.5rem;
  }
}
.contact-button a{
  display: block;
  padding: 1.3125rem 6.875rem;
}
.contact-button:hover{
  background-color: #fff;
}
.contact-button a:hover{
  color: #168352;
}
/*  products-service タイトル */
.products-service__title{
  padding-top: 1.625rem;
  padding-bottom: 1.4375rem;
}
@media(min-width:768px){
  .products-service__title{
    padding-bottom: 2.0625rem;
  }
}
.products-service__title h2{
  font-size: 1.375rem;
  font-weight: 700;
  color: #000;
  padding-bottom: .25rem;
}
@media(min-width:768px){
  .products-service__title h2{
    font-size: 1.75rem;
    padding-bottom: 1rem;
  }
}

.progress-bar{
  width: 100%;
  height: .1875rem;
  background-color: #ddd;
  overflow: hidden;
}
@media(min-width:768px){
  .progress-bar{
    height: .3125rem;
  }
}
.progress-fill{
  width: 14%;
  height: 100%;
  background-color: #168352;
}
@media(min-width:768px){
  .progress-fill{
    width: 13%;
  }
}
/* 表 */
.table{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #000;
  border-top: .0625rem solid #ddd;
  border-right: .0625rem solid #ddd;
  border-left: .0625rem solid #ddd;
}
.table:nth-child(8){
  border-bottom: .0625rem solid #ddd;
}
@media(min-width:768px){
  .table{
    display: flex;
    flex-direction: row;
  }
}
.table-label{
  font-weight: 700;
  background-color: #f5f5f5;
  border-bottom: .0625rem solid #ddd;
}
@media(min-width:768px){
  .table-label{
    width: 27%;
  }
}
.table-label,
.table-value{
  padding: .25rem 1.1875rem .375rem;
}
@media(min-width:768px){
  .table-label{
    padding: 1.0625rem 1.125rem 1rem;
    border-bottom: none;
  }
  .table-value{
    padding-top: 1rem;
    padding-left: 1.375rem;
  }
}
.table:nth-child(8) .table-value{
  letter-spacing: -.0031rem;
}
@media(min-width:768px){
  .table:nth-child(8) .table-value{
    letter-spacing: 0;
  }
}
/* ヘッダー
------------------------------------------ */
.header{
  position: fixed;
  top: -.125rem;
  left: 0;
  right: 0;
  background: #FFF;
  z-index: 1;
}
@media(min-width:768px){
  .header{
    top: 0;
  }
}
.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.9375rem;
}
@media(min-width:768px){
  .header__container{
    height: 7.125rem;
    max-width: 75rem;
    margin: 0 auto;
  }
}
/* ヘッダーロゴ */
.header__logo img{
    max-width: 13.375rem;
    padding-left: 1.0625rem;
}
@media(min-width:768px){
  .header__logo img{
    max-width: 17.25rem;
  }
}
@media(min-width:768px) and (max-width:1080px){
  .header__logo img{
    max-width: 13.75rem;
  }
}
/* ハンバーガーボタン */
.hamburger__button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.4375rem;
  height: 3.4375rem;
}
@media(min-width:768px){
  .hamburger__button{
    display: none;
  }
}
.hamburger__button i{
  color: #000;
  font-size: 2.1875rem;
}
/* ハンバーガーメニュー */
@media(max-width: 767px) {
  .hamburger__menu{
    position: fixed;
    top: 3.9375rem;
    left: 50%;
    transform: translateX(100%);
    width: 92%;
    height: 13.125rem;
    padding-top: 1.9375rem;
    background: #168352;
    border-radius: 1.5rem;
    opacity: 1;
    transition: all .3s;
    animation-timing-function: ease-out;
  }
}
/* アクティブ状態 */
.hamburger__menu-active {
  transform: translateX(-50%);
}
/* ナビゲーション */
@media(max-width:767px){
  .hamburger__nav-list-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.625rem;
    font-size: 1.125rem;
    font-weight: 700;
  }
}
@media(min-width:768px){
  .hamburger__nav-list-group{
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    padding-right: .875rem;
  }
  .hamburger__nav-list-group li:first-child{
    display: none;
  }
  .hamburger__nav-list-group a{
    font-size: 1rem;
    font-weight: 700;
    color: #000;
  }
}
@media(min-width:768px) and (max-width:1080px){
  .hamburger__nav-list-group{
    column-gap: 1rem;
    padding-right: 1.875rem;
  }
  .hamburger-__nav-list-group a{
    font-size: 1rem;
  }
}

/* 価格・よくある質問の下層ページ用グリーン*/
@media(min-width:768px){
  .hamburger__nav-list-group a.green{
    color: #168352;
  }
}
/* カバー
-----------------------------------------------------*/
/* cover-top */
.cover__top{
  display: flex;
  flex-direction: column;
  row-gap: 1.0625rem;
  color: #000;
  padding-top: 4.375rem;
  margin-bottom: 1.5625rem;
}
@media(min-width:768px){
  .cover__top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 9.3125rem;
    margin-bottom: 3.75rem;
  }
}
.cover__top h2{
  font-size: 1.75rem;
  font-weight: 700;
}
@media(min-width:768px){
  .cover__top h2{
    font-size: 2.5rem;
    padding-left: 2rem;
  }
}
@media(min-width:768px) and (max-width:1199px){
  .cover__top h2{
    font-size: clamp(1.75rem, 3.5vw, 2.5rem);
  }
}
.cover__top p{
  font-size: .9375rem;
}
@media(min-width:768px){
  .cover__top p{
    padding: .75rem 1.625rem 0 1.25rem;
  }
}

/* about us
----------------------------------------------------- */
@media(min-width:768px){
  .about{
    margin-bottom: 4.0625rem;
  }
}
.about__item-container{
  padding-top: 1.9375rem;
}
@media(min-width:768px){
  .about__item-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    max-width: 66rem;
  }
}
/* アイテムトップ */
.about__item{
  background-image: url(/assets/images/top/about/about_us_sp.jpg);
  background-size: cover;
  height: 34.125rem;
}
@media(min-width:768px){
  .about__item{
  background-image: none;
  height: 35.625rem;
  }
}
.about__item-top{
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  background-color: rgb(255, 255, 255, 0.8);
  border: .125rem solid #fff;
  border-radius: 2rem;
  padding: .8125rem 1.4375rem;
}
@media(min-width:768px){
  .about__item-top{
    justify-content: center;
    row-gap: 1.5625rem;
    max-width: 28.75rem;
    margin-left: .1875rem;
  }
}
.about__item-top p{
  color: #111;
}
.about__item-top p:first-child{
  font-size: 1.125rem;
  font-weight: 700;
}
@media(min-width:768px){
  .about__item-top p:first-child{
    font-size: 1.25rem;
  }
}
/* アイテムボトム */
@media(min-width:768px){
  .about__item-bottom{
    display: flex;
    align-items: center;
    height: 35.625rem;
    margin-left: 5rem;
  }
  .about__item-bottom img{
    width: 90%;
  }
}
@media(min-width:768px) and (max-width:980px){
  .about__item-bottom{
    margin-left: clamp(0rem, 2vw, 5rem);
    margin-right: clamp(0rem, 2vw, 5rem);
  }
}
@media(max-width:767px){
  .about__item-bottom img{
    display: none;
  }
}
/* Features
----------------------------------------------------- */
.features{
  background-color: #f3f9f6;
  padding-bottom: 4rem;
}
.features__item-content {
  max-width: 26.875rem;
  margin: 0 auto;
}
@media(min-width:768px) and (max-width:1039px){
  .features__item-container{
    flex-direction: column;
  }
  .features__item-content {
    width: 80%;
  }

}
/* アイテム */
.features__item-content img{
    display: block;
    border-radius: 1.5rem 1.5rem 0 0;
  }
@media(min-width:768px){
  .features__item-content img{
    height: 14.375rem;
  }
}
.features__item-content p{
  font-size: 1.125rem;
  font-weight: 700;
  color: #111;
  background-color: #fff;
  padding: .6875rem .9375rem;
  border-radius: 0 0 1.5rem 1.5rem;
}
@media(min-width:768px){
  .features__item-content p{
    font-size: 1.1875rem;
    padding: .625rem 1.375rem .6875rem 1.4375rem;
  }
}
@media(min-width:1040px) and (max-width:1099px){
  .features__item-content p{
    font-size: clamp(1.125rem, 1vw, 1.1875rem);
  }
}
/* Products / Service
--------------------------------------------------- */
/* タイトル */
@media(min-width:768px){
  .products__section-title{
    padding-top: 4rem;
    padding-bottom: 1.75rem;
    line-height: 1.6;
  }
}
/* アイテム */
.products__item-container{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.375rem;
  box-sizing: border-box;
  max-width: 34.375rem;
  margin: 0 auto;
  margin-bottom: 3.75rem;
}
@media(min-width:768px){
  .products__item-container{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: clamp(.5rem, 3vw, 2.5rem);
    column-gap: clamp(.5rem, 4vw, 3.125rem);
    max-width: 70.625rem;
    margin-bottom: 2.375rem;
  }
}
@media(min-width:768px) and (max-width:1039px){
  .products__item-container{
    grid-template-columns: 1fr;
    max-width: 46.875rem;
  }
}
.products__item-container-content{
  grid-column: 1 / 2;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2,1fr);
  background-color: #168352
}
@media(min-width:1040px){
  .products__item-container-content:nth-child(1){
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .products__item-container-content:nth-child(2){
    grid-column: 4 / 7;
    grid-row: 1 / 2;
  }
  .products__item-container-content:nth-child(3){
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    height: 9.375rem;
  }
  .products__item-container-content:nth-child(4){
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    height: 9.375rem;
  }
  .products__item-container-content:nth-child(5){
    grid-column: 5 / 7;
    grid-row: 2 / 3;
    height: 9.375rem;
  }

}
.products__item-container-content img{
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  margin: 1.1875rem 0 1.1875rem 1.625rem;
}
@media(min-width:1040px){
  .products__item-container-content:nth-child(1) img,
  .products__item-container-content:nth-child(2) img{
    width: 8.3125rem;
    height: 8.3125rem;
    margin: 1.4375rem 1.9375rem
  }
  .products__item-container-content:nth-child(3) img,
  .products__item-container-content:nth-child(4) img,
  .products__item-container-content:nth-child(5) img{
    width: 6.875rem;
    height: 6.875rem;
  }
}
.products__item-container-content p{
  grid-column: 4/ 9;
  grid-row: 1 / 3;
  font-size: 1.125rem;
  font-weight: 700;
  margin-left: .5625rem;
}
@media(min-width:768px){
  .products__item-container-content p{
    font-size: 1.25rem;

  }
}
@media(min-width:1040px){
  .products__item-container-content:nth-child(1) p,
  .products__item-container-content:nth-child(2) p{
    font-size: 1.5rem;
    margin-left: 0;
  }
  .products__item-container-content:nth-child(3) p,
  .products__item-container-content:nth-child(4) p,
  .products__item-container-content:nth-child(5) p{
    margin-left: 1.8125rem;
    margin-right: 1.4375rem;
  }
}


/* case
---------------------------------------------------*/
.case{
  background-color: #f3f9f6;
  padding-bottom: 3.25rem;
}
@media(min-width:768px){
  .case{
    padding-bottom: 4.0625rem;
  }
  .case__section-title{
    padding-bottom: 1.5625rem;
  }
}
.case__item-container{
  row-gap: 1.75rem;
}
/* アイテム */
@media(min-width:768px){
  .case__item-content:first-child{
    margin-bottom: 1.8125rem;
  }
}
.case__item-content img{
  border-radius: 1.5rem;
}
@media(min-width:768px){
  .case__item-content img{
    height: 14.25rem;
  }
  .case__item-content:first-child img{
    height: 14.25rem;
  }
}
.case__item-content p{
  font-size: 1.125rem;
  font-weight: 700;
  color: #09947b;
}
@media(min-width:768px){
  .case__item-content p{
    font-size: 1.1875rem;
    letter-spacing: .0625rem;
  }
}
/* news
----------------------------------------------------------*/
.news{
  position: relative;
}
.news__item{
  padding-bottom: 2.25rem;
}
@media(min-width:768px){
  .news__item{
    padding-bottom: 2rem;
  }
}
.news__item-container{
  flex-direction: column;
  row-gap: 0;
}
/* タイトル */
@media(min-width:768px){
  .news__section-title{
    padding-top: 3.375rem;
    padding-bottom: 1.4375rem;
    line-height: 1.6;
  }
}
/* アイテム */
.news__item-content:first-child{
  border-top: .0625rem solid #ddd;
}
.news__item-content{
  border-bottom: .0625rem solid #ddd;
  padding-top: .875rem;
  padding-bottom: .6875rem;
  width: 100%;
  max-width: 31.25rem;
  margin: 0 auto;
}
.news__item-content:last-child{
  padding-bottom: .6875rem;
}
@media(min-width:768px){
  .news__item-content:last-child{
  padding-bottom: 1.0625rem;
  }
  .news__item-content{
    padding-top: .9375rem;
    padding-bottom: 1rem;
  }
  .news__item-content:nth-child(3){
    padding-top: .875rem;
    padding-bottom: 1rem;
  }
}
@media(min-width:768px){
.news__item-content{
    display: flex;
    align-items: center;
    max-width: 56.25rem;
  }
}
.news-date{
  color: #222;
}
@media(min-width:768px){
  .news-date{
    font-size: .875rem;
  }
}
.news-notice{
  color: #fff;
  font-size: .8125rem;
  background-color: #473221;
  border-radius: .25rem;
  line-height: 1.7;
  margin-left: .9375rem;
  padding: .25rem 2.5rem .375rem;
}
@media(min-width:768px){
  .news-notice{
    padding: .125rem 2.5625rem;
    margin-left: 1.125rem;
  }
}

.news__item-content:nth-child(3) .news-notice,
.news__item-content:nth-child(4) .news-notice,
.news__item-content:nth-child(6) .news-notice{
  padding: .25rem .9375rem .3125rem;
}
.news__item-content p{
  font-weight: 700;
  padding-top: .75rem;
  line-height: 1.74;
}
@media(min-width:768px){
  .news__item-content p{
    padding-top: 0;
    padding-left: 1.5625rem;
  }
}
/* フッター
--------------------------------------------------- */
.footer{
  background-color: #168352;
  height: 4.25rem;
  column-gap: 1rem;
}
@media(min-width:768px){
  .footer{
    height: 6.25rem;
    column-gap: 1.3125rem;
  }
}
.footer_nav{
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8125rem;
}
@media(min-width:768px){
  .footer_nav{
    margin-left: 1.8125rem;
  }
}
.footer_nav li:nth-child(1) a{
  padding-right: 1.125rem;
}
.footer_nav li:nth-child(2) a{
  border-left: .0625rem solid #fff;
  padding-left: 1.125rem;
}
@media(min-width:768px){
  .footer_nav:nth-child(1) a {
    font-size: .9375rem;
    padding-right: 1.375rem;
  }
  .footer_nav:nth-child(2) a{
    font-size: .875rem;
    padding-left: 1.375rem;
  }
}

/* price（2ページ目）
------------------------------------------------------ */
/* cover
------------------------------------------------------ */
.cover-common__container{
  padding-top: 5.1875rem;
  padding-right: .8125rem;
}
@media(min-width:768px){
  .cover-common__container{
    padding: 9.625rem .0625rem 1.25rem;
    max-width: 75.3125rem;
  }
}
.cover-common__top{
  position: relative;
  padding-right: .125rem;
}
@media(min-width:768px){
  .cover-common__top{
    padding-right: 0;
  }
}
.cover-common__top h1{
  font-size: 1.875rem;
  font-weight: 700;
  color: #000;
  padding-top: .625rem;
}
@media(min-width:768px){
  .cover-common__top h1{
    position: absolute;
    bottom: 1%;
    left: -1%;
    font-size: 2.25rem;
    background-color: #fff;
    border-radius: 0 2.5rem 0 0;
    padding: 1.625rem 2.3125rem 1.625rem 3.375rem;
  }
}
/* ボトム */
.cover-common__bottom{
  display: flex;
  justify-content: flex-end;
  font-size: .75rem;
  color: #000;
  column-gap: .4375rem;
  padding-top: 1rem;
}
@media(min-width:768px){
  .cover-common__bottom{
    padding-top: .6875rem;
  }
}
/* products-service
---------------------------------------------------------*/
@media(max-width:767px){
  .products-service_contaier {
    max-width: 33.125rem;
    margin: 0 auto;
  }
}
@media(min-width:768px){
  .products-service_contaier{
    max-width: 52.1875rem;
  }
}
/* カルーセル*/
.slick-slide img {
    height: 14.875rem;
    border-radius: 1.5rem;
    margin: 0 auto;
}
@media(min-width:768px){
  .slick-slide img {
    height: 31.25rem;
  }
}
.products-service__slick-item:nth-child(3) img {
    width: 99%;
}
/* ドット */
.slick-dots {
    bottom: -1%;
}
@media(min-width:768px){
  .slick-dots {
    bottom: 1%;
}
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: .875rem;
    height: .875rem;
    margin: 0;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #168352;
}
.slick-dots li button:before {
    left: -.1875rem;
    font-size: .625rem;
    line-height: 0;
    color: #eee;
    opacity: 1;
}
/* 特徴
------------------------------------ */
.products-service__features{
  row-gap: 2.125rem;
  margin-bottom: 1.5625rem;
}
@media(min-width:768px){
  .products-service__features-item img{
    height: 9.375rem;
    border-radius: 1rem;
  }
}
.products-service__features-item p{
  font-size: 1.125rem;
  font-weight: 700;
  color: #000;
}
@media(min-width:768px){
  .products-service__features-item:first-child p{
    padding-bottom: 2.0625rem;
  }
}
/* メーカー希望小売価格
-------------------------------------- */
/* タイトル */
.products-service__title-price{
  padding-bottom: .5rem;
}
@media(min-width:768px){
  .products-service__title-price{
    padding-bottom: 1rem;
  }
}
.products-service__price{
  font-family: "Montserrat";
  font-weight: 700;
  color: #168352;
  padding-bottom: 1rem;
}
@media(min-width:768px){
    .products-service__price{
    padding-bottom: 1.25rem;
  }
}
.products-service__price span:first-child {
  font-size: 2rem;
}
/* スペック
--------------------------------------  */
@media(min-width:768px){
  .products-service_spec{
    max-width: 46.25rem;
    margin: 0 auto;
  }
  .products-service__title-spec{
    padding-bottom: 1.5rem;
  }
}
.products-service_spec-title{
  font-size: 1.25rem;
  font-weight: 700;
  color: #000;
  border-left: .1875rem solid  #168352;
  padding-left: .9375rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
@media(min-width:768px){
  .products-service_spec-title{
    font-size: 1.5rem;
    line-height: 1.7;
    margin-bottom: 1.5rem;
  }
}
/* アイテム */
.products-service_spec-item{
  margin-bottom: 3.9375rem;
}
@media(min-width:768px){
  .products-service_spec-item{
    margin-bottom: 4.6875rem;
  }
}
/* contact
------------------------------------------------------ */
.contact{
  position: relative;
  height: 22.5rem;
}
@media(min-width:768px){
  .contact{
    height: 28.125rem;
  }
}
.contact img{
  height: 22.5rem;
}
@media(min-width:768px){
  .contact img{
    height: 28.125rem;
  }
}
/* 半透明にする（黒色）*/
.overlay{
  position: absolute;
  background-color: rgb(0, 0, 0);
  opacity: 0.502;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* faq
-----------------------------------------------------------*/
.faq{
  padding-top: 2.25rem;
  padding-bottom: 10.5rem;
}
@media(min-width:768px){
  .faq{
    padding-bottom: 4.6875rem;
  }
}
@media screen and (min-width: 768px) {
  .faq__container {
    padding-bottom: 0;
    transition: padding-bottom 0.3s ease;
  }

  .faq__container--expanded {
    padding-bottom: 50.8125rem; /* 開いてる時に余裕を持たせる例 */
  }
}
.faq__item{
  border: .0625rem solid #ccc;
  border-radius: 1rem;
  padding-bottom: 1.0625rem;
}
@media(min-width:768px){
  .faq__item{
    padding-bottom: .875rem;
  }
  .faq__item:nth-child(5){
    padding-bottom: 1rem;
  }
  .faq__item:nth-child(6){
    padding-bottom: 1.0625rem;
  }
  .faq__item:nth-child(7){
    padding-bottom: 1.0625rem;
  }
  .faq__item:nth-child(8){
    padding-bottom: .9375rem;
  }
}
.faq__container{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
@media(min-width:768px){
  .faq__container{
    max-width: 51.875rem;
  }
}
/* トップ */
.faq__item-content-top{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.0625rem 1.4375rem 0;
  line-height: 1.3;
}
@media(min-width:768px){
  .faq__item-content-top{
    padding: 1.3125rem 1.875rem .4375rem;
  }
}
.faq__item-content-top-left{
  display: flex;
}
.faq-guestion{
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 700;
}
.faq-category{
  font-size: .6875rem;
  border: .0625rem solid #168352;
  border-radius: .25rem;
  padding: .0625rem .6875rem;
  margin-top: .25rem;
  line-height: 1.9;
  margin-left: 1rem;
}
.faq-category__product{
  padding: .0625rem 1.0625rem;
  margin-left: .4375rem;

}
.product-first{
  margin-left: .9375rem;
  padding: .0625rem 1.0625rem;
}
.use-first{
  margin-left: 1.0625rem;
  padding: 0 1rem .0625rem;
}
.faq-category08{
  padding: .0625rem 1.0625rem;
}
.faq__item-content  p{
  font-size: 1rem;
  color: #000;
  font-weight: 700;
  padding-left: 4.0625rem;
  padding-right: 4.1875rem;

}
@media(min-width:768px){
  .faq__item-content  p{
    font-size: 1.125rem;
    padding-left: 4.4375rem;
  }
  .faq__item:nth-child(8) .faq__item-content  p{
    padding-top: .5rem;
  }
  .faq__item:nth-child(11) .faq__item-content  p{
    padding-top: .5rem;
  }
}

/* iconアイテム */
.faq__item-content-top-right{
  position: absolute;
  top: 46%;
  right: 6.2%;
}
@media(min-width:768px){
  .faq__item-content-top-right{
    top: 44%;
    right: 3.8%;
  }
}
.icon--open{
  display: none;
}
.faq__item-content.close .faq__item-content {
  display: block;
}
.faq__item-content.close .icon--close {
  display: none;
}
.faq__item-content.close .icon--open {
  display: inline;
}
.faq__item-content .faq__item-content-top-right svg {
  width: 1.375rem;
  height: 1.625rem;
}

/* アコーディオン8 */
.faq__item:nth-child(8) .faq__item-content-top{
  padding: 1.1875rem 1.375rem 0;
}
@media(min-width:768px){
  .faq__item:nth-child(8) .faq__item-content-top{
    padding: 1.25rem 1.875rem 0;
  }
}
@media(min-width:768px){
  .faq__item:nth-child(5) .faq__item-content-top{
  padding-top: 1.0625rem;
  }
  .faq__item:nth-child(6) .faq__item-content-top{
  padding-top: 1rem;
  }
  .faq__item:nth-child(7) .faq__item-content-top{
  padding-top: 1rem;
  }
  .faq__item:nth-child(9) .faq__item-content-top{
  padding-top: 1.1875rem;
  }
  .faq__item:nth-child(11) .faq__item-content-top{
    padding: 1.125rem 1.875rem 0;
  }
}
/* アコーディオン10*/
.faq-category10{
  padding: .0625rem 1.0625rem 0;
  margin-left: .9375rem;
}

/* ボトム */
.faq__item-content-bottom{
  font-size: 1rem;
  color: #000;
  padding: .0625rem 1.5625rem 0;
}
@media(min-width:768px){
  .faq__item-content-bottom{
    padding: .9375rem 1.25rem .1875rem 1.875rem;
  }
}
.faq__item:nth-child(5) .faq__item-content-bottom{
  padding: 0 1.5625rem 0;
  line-height: 1.7;
}
@media(min-width:768px){
  .faq__item:nth-child(5) .faq__item-content-bottom{
    padding: 1.0625rem 1.875rem 0;
  }
  .faq__item:nth-child(6) .faq__item-content-bottom{
    padding: 1.0625rem 1.875rem .1875rem;
  }
  .faq__item:nth-child(9) .faq__item-content-bottom{
    padding: 1.0625rem 1.875rem 0;
  }
}
.faq__item:nth-child(11) .faq__item-content-bottom{
  padding: .625rem 1.625rem 0;
}
@media(min-width:768px){
  .faq__item:nth-child(11) .faq__item-content-bottom{
    padding: 1rem 1.9375rem 0;
  }
}


